<div id="discounts">
<h2>Bulk Discounts:</h2>
<% @discounts.each do |discount| %>
<%= link_to "#{discount.name}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %> <br>
<%= "Percent Discount: #{(discount.percentage_discount*100).to_i}% Quantity Threshold: #{discount.quantity_threshold}" %>
<% end %>
</div>